@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import '**/*';

body {
  --body-font: Lato;
  --text-color: #333;
  --sub-text-color: #666;
  --background-color: white;
  --box-color: #{mix(#eee, #fff, 50%)};
  --box-border-color: #ddd;
  --note-color: #f8d030;
  --note-color-light: #fcecab;

  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--body-font);

  display: flex;
  min-height: 100vh;

  & > aside {
    display: flex;
    flex-direction: column;

    background-color: var(--box-color);
    padding: 1rem 0;
    width: 190px;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    & > .brand {
      color: var(--primary-color);
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    & > nav {
      color: mix(#ddd, black, 60%);

      a {
        display: block;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        &:hover {
          color: mix(#ddd, black, 50%);
        }

        &.active {
          color: var(--primary-color);
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  
  & > main {
    flex-grow: 1;
    margin-left: 190px;

    & > .main__content {
      max-width: 100%;
      width: 900px;
      margin: 3rem auto;
    }
  }
}

a:not(.button) {
  text-decoration: none;
  color: inherit;

  .visible-links & {
    color: var(--primary-color);
  }
}

small {
  color: var(--sub-text-color);
}

.divider {
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  background-color: var(--box-border-color);
}